{% extends "base.html" %}

{% block title %}About ATL Gameday{% endblock %}

{% block body %}    
    <h1>About</h1>
	<p>This site lets you know if there is a major sporting event at one of the stadiums near downtown Atlanta so you can plan around any potential traffic jams.</p>
	<p>I was inspired by isthereagametoday.com.</p>
	<p>The following events are currently included:</p>
	<ul>
		<li>Braves games</li>
		<li>Falcons games</li>
		<li>Hawks games</li>
		<li>Georgia Tech football</li>
		<li>GSU football</li>
		<li>Other selected Dome/Philips Arena events</li>
	</ul>
	<p>I built it as a way to learn Django development/deployment. Is a PostgreSQL database with one table overkill? Absolutely. But I had to start somewhere to learn this stuff.</p>
	<p>The code is on GitHub.</p>
{% endblock %}
