{% extends "base.html" %}

{% block title %}About ATL Gameday{% endblock %}

{% block body %}    
    <h1>About</h1>
	<p>This site lets you know if there is a major sporting event at one of the stadiums near downtown Atlanta so you can plan around any potential traffic jams.</p>
	<p>The following events are currently included:</p>
	<ul>
		<li>Braves games</li>
		<li>Falcons games</li>
		<li>Hawks games</li>
		<li>Georgia Tech football</li>
		<li>Georgia State football</li>
		<li>Other selected Dome/Philips Arena events</li>
	</ul>
	<p>I was inspired by <a href="http://isthereagametoday.com">isthereagametoday.com</a>, but wanted to include more events.</p>
	<p>Favicon created by combining <a href="http://thenounproject.com">Noun Project</a> icons by <a href="http://thenounproject.com/theelisabeth/">Elisabeth Hass</a> and <a href="http://thenounproject.com/flowchartmedia/">Nick Green</a>. The code is on <a href="https://github.com/curtmerrill/atlgameday">GitHub</a>.</p>
    <p><a href="/">Home</a></p>
{% endblock %}
