{% extends "base.html" %}

{% block body %}    
    <h1>Is there a game today? {% if games|length > 0 %}Yes{% else %}No{% endif %}.</h1>
    {% for g in games %}
	<div class="game">
		<div class="game-name">{{ g.name }}</div>
        <div class="game-deets">{{ g.time|time:"g:i a" }} @ {{ g.location }}</span></div>
	</div>
	{% endfor %}

	<div class="about-link">
        <p><a href="/about">About</a></p>
        <!-- Tweet Button -->
        <p><a href="https://twitter.com/share" class="twitter-share-button" data-text="Is there a game today?">Tweet</a></p>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
{% endblock %}
